.page-body{
    text-align: center;
    min-height: 90%;
    margin-left: 1em;
}

.page-body h1{
}

.service-body{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0px 0px 50px 0px;
  line-height: 25px;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
}


.service-center{
  height: 300px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-title{
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 35px;
  line-height: 42px;
  padding-top: 1em;
  /*padding-left: 1em;*/
  color: #76323F;
  font-weight: 400;
  width: 100%;
}

.service-body{
  margin-left: 1em;
}

.service-images{
  height: 100%;
  margin-top: 0em;
  text-align: center;
  display: inline-block;
}

.feature-full{
  padding-top: 20px;
}

.feature-img{
  width: 33.32%;
  height: 260px;
  display: inline-block;

}

@media screen and (max-width: 650px) { 
  .feature-img{   
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.body__video{
    width:60%;
    margin: 2em auto;
    position:relative;
    height:0;
    padding-bottom:34%;
    clear:both;
    @media(max-width: 741px) {
      width: 88%;
      padding-bottom: 50%;
    }
    iframe {
      position:absolute;
      top:0;
      left:0;
      height:100% !important;
      width:100% !important;
    }
}