.carousel{
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.service-slider{
  padding-top: 5em!important;
}

.spanner > section.carousel {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#subHeroSlider{
  max-width: 100%;
  width: 90%;
  @include breakpoint($zero-to-medium) {
    display: none;
  }
}

.slick-slider{
  height: 310px;
}

.service-center{
  height: 300px;
  width: 500px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-body{
  padding-top: 4em;
}

.carousel__items {
  list-style-type: none;
  padding: 0;
}

.carousel__item {
  background-size: cover;
  width: 100%;
  float: left;
  background-position: center center;
  position:relative;
  @include breakpoint($zero-to-small) {
    width: auto;
  }
  &:before {
    z-index:1;
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
   /* @include background(linear-gradient(180deg, rgba(40, 40, 40, 0) 55%, rgba(40, 40, 40, 0.8) 100%));*/
  }
}
.carousel__item-slim {
  background-size: cover;
  width: 100%;
  float: left;
  background-position: center center;
  position:relative;
  @include breakpoint($zero-to-small) {
    width: 100%;
  }
  &:before {
    z-index:1;
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;

    @include background(linear-gradient(180deg, rgba(40, 40, 40, 0) 55%, rgba(40, 40, 40, 0.8) 100%));
  }
  @include breakpoint($zero-to-small) {
    height: 20em;
  }
}