<footer class="backgroundfooter">   
  <div class="footer-content"> 
    <div class="footer footer-left contact">
        <h3 class="offwhite">Contact Us</h3>
        <ul>
        <li class="offwhite">{{sitewideOptions.contactPhone | nl2br }}</li>
        <li class="offwhite">{{sitewideOptions.contactEmail}}</li>
        <li class="offwhite">{{sitewideOptions.contactAddress}}</li>
        </ul>
    </div>
    <div class="footer footer-center center">
        <h1 class="footer-title center offwhite">TRJ Ranch
        </h1>
    </div>
    <div class="footer right">
        <ul class="social">
            <a class="social-icon" href="{{sitewideOptions.facebookLink}}">
              <i class="center footer-title social--facebook" aria-hidden="true"></i>&nbsp &nbsp  
            </a>
            <a class="social-icon" href="{{sitewideOptions.youtubeLink}}">
              <i class="center footer-title social--youtube" aria-hidden="true"></i>&nbsp &nbsp
            </a>
            <!-- <i class="center footer-title fa fa-instagram fa-2x" aria-hidden="true"></i>&nbsp &nbsp -->
            <!-- <i class="center footer-title fa fa-twitter fa-2x" aria-hidden="true"></i> -->
        </ul>
    </div>
  </div>
</footer>